<div class="container py-lg-5 py-md-4 py-2">
    <div class="row">
        <div class="col-lg-5 pr-lg-0">
            <div class="w3l-left-img2">
            </div>
        </div>
        <div class="col-lg-7 pl-lg-0">
            <div class="w3l-right-info">
                <h6 class="title-small">About us</h6>
                <h3 class="title-big">Our long-standing experience</h3>
                <h5 class="mt-4">
                    We have over 15 year experience, Over 20,000 people work for us in more than 70
                    countries all over the world.
                    Lorem ipsum viverra feugiat dolor sit amet.
                </h5>
                <p class="mt-4">
                    Viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel lorem ipsum. Lorem ipsum viverra feugiat dolor sit
                    amet primis in faucibus orci.
                </p>
                <a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                    <span class="video-play-icon">
                        <span class="fa fa-play"></span>
                    </span>
                    See Our Story
                </a>
                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>