<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4 py-2">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.productCount</p>
                <span class="plus">+</span><br>
                <h3>Toplam Emlak</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">256</p>
                <span class="plus">+</span><br>
                <h3>Homes for rent</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">@ViewBag.differentCityCount</p>
                <span class="plus">+</span><br>
                <h3>Farklı Şehirde</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">@ViewBag.averageProductPriceByRent </p>
                <span class="plus">₺</span><br>
                <h3> </h3>
            </div>
        </div>
    </div>
</section>