@model List<RealEstate_Dapper_UI.Areas.AboutUs.Data.AboutUsDto.ResultAboutUsSectionDto>

<div class="container py-lg-5 py-md-4 py-2">
    <div class="row mt-5 pt-lg-5 pt-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="area-box">
                    <span class="fa fa-home" style="color:orange"></span>
                    <h4><a href="#feature" class="title-head">@item.Title</a></h4>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
</div>
