
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
}
@* Estate Agent Dashboard İndex *@
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">

            @await Component.InvokeAsync("_EstateAgentDashBoardStatisticComponentPartial")
          
            <!-- Sale & Revenue End -->
            <!-- Sales Chart Start -->
            @await Component.InvokeAsync("_EstateAgentDashBoardChartComponentPartial")
            <!-- Sales Chart End -->
            <!-- Recent Sales Start -->
            @await Component.InvokeAsync("_EstateAgentGetLast5ProductByEmployeeIdComponentPartial")
            <!-- Recent Sales End -->            <!-- Widgets Start -->
            
        </div>
    </div>
</div>

