@model RealEstate_Dapper_UI.Dtos.ProductDetailDtos.CreateProductDetailDto
@{
    ViewData["Title"] = "CreateAdvertDetail";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
}




<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6>İlan Detayları</h6>



                <label>@ViewBag.ProductID</label>

              
                    <button class="btn btn-primary">Kaydet</button>

                
            </div>
        </div>
    </div>
</div>






